<nav class="navbar navbar-inverse navbar-expand-lg" role="navigation">
    <div class="container-fluid">

        <ul class="nav navbar nav" routerLinkActive="active">
            <li class="nav-item"><a class="nav-link" routerLink="home">Home</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="guess-the-word">Guess the word</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="home">Crosswords</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="home">About us</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="home">Contacts</a></li>
        </ul>

    </div>
</nav>
<div class="parallax">
</div>
<router-outlet></router-outlet>
<!-- <mat-toolbar>
    <nav class="navbar navbar-default" role="navigation">
        <ul>
            <li>Home</li>
            <li>Guess the word</li>
            <li>Crosswords</li>
            <li>About us</li>
            <li>Contacts</li>
        </ul>
    </nav>
</mat-toolbar> -->